/* palette colori */
:root {
    --brand_blue: #0282F9;
    --brand_black: #1C1C1C;
    --brand_dark_gray: #303030;
    --brand_light_gray: #797979;
}

/* common rules */
a {
    text-decoration: none;
    color: black;
}